#inner {
  display: table;
  margin: 0 auto;
}

#container {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../../asset/bg-image.jpg");
  /*, linear-gradient(#35acdb, #5f10f3); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

#banner {
  font-size: 400%;
  background-color: transparent;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.rounded {
  border-radius: 25px;
}

.errMessage {
  color: red;
  text-align: right;
}
