USE [master]
GO
/****** Object:  Database [IdentityDatabase]    Script Date: 22-Dec-19 12:15:45 PM ******/
CREATE DATABASE [IdentityDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IdentityDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\IdentityDatabase.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IdentityDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\IdentityDatabase_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IdentityDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IdentityDatabase]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Level] [tinyint] NOT NULL,
	[JoinDate] [datetime] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[isAdmin] [bit] NULL,
	[Avatar] [varbinary](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[UserSubjectID] [int] NULL,
	[TutorID] [nvarchar](128) NULL,
	[UserID] [nvarchar](128) NULL,
	[DateStart] [date] NULL,
	[DateEnd] [date] NULL,
	[Price] [int] NULL,
	[Hour] [int] NULL,
	[ComplainFromUser] [nvarchar](max) NULL,
	[TotalPrice] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[StatusID] [int] NULL,
	[FileContract] [varbinary](max) NULL,
	[ShareMoney] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[UserSubjectID] [int] NULL,
	[TutorID] [nvarchar](128) NULL,
	[UserID] [nvarchar](128) NULL,
	[DateStart] [date] NULL,
	[DateEnd] [date] NULL,
	[Price] [int] NULL,
	[Hour] [int] NULL,
	[ComplainFromUser] [nvarchar](max) NULL,
	[TotalPrice] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[StatusID] [int] NULL,
	[FileContract] [varbinary](max) NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Discussion]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discussion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [nvarchar](128) NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [nvarchar](128) NULL,
	[content] [nvarchar](200) NULL,
	[Daycreated] [date] NULL,
	[Upload_at] [nvarchar](128) NULL,
	[Rate] [int] NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Level]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[Level_ID] [int] IDENTITY(1,1) NOT NULL,
	[Level_Name] [nvarchar](100) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Message]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiscussionId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[Rank_ID] [int] IDENTITY(1,1) NOT NULL,
	[Rank_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ranks] PRIMARY KEY CLUSTERED 
(
	[Rank_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skills]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Skill_Name] [nchar](50) NULL,
	[Skill_ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Subject_ID] [int] IDENTITY(1,1) NOT NULL,
	[Subject_Name] [nvarchar](50) NOT NULL,
	[isCore] [bit] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Subject_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Name] [nvarchar](50) NULL,
	[Tags] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersSkillsLevels]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersSkillsLevels](
	[User_ID] [nvarchar](150) NOT NULL,
	[Skill_ID] [int] NULL,
	[Level_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersTags]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NULL,
	[TagID] [int] NULL,
 CONSTRAINT [PK_UsersTags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserSubject]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubject](
	[UserId] [nvarchar](128) NULL,
	[Subject_ID] [int] NULL,
	[Price] [int] NULL,
	[Rank_ID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'30bd9ef5-636a-4542-a955-9630ba72b0d1', N'Subcriber')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'738c3ac3-91bc-4b30-b1ec-3fb4e565ca4b', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'c361cb50-97c6-40d1-ab1b-414ceeefcba7', N'User')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'08beb762-e2b8-4597-98e2-320e3912eec4', N'c361cb50-97c6-40d1-ab1b-414ceeefcba7')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'08beb762-e2b8-4597-98e2-320e3912eec4', N'ca67b386-48db-4eb6-a67e-29c8eb5af895')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'15365b87-bb96-4ab7-9f2f-db0d59037f2d', N'738c3ac3-91bc-4b30-b1ec-3fb4e565ca4b')
SET IDENTITY_INSERT [dbo].[Discussion] ON 

INSERT [dbo].[Discussion] ([Id], [OwnerId], [LastestUpdated]) VALUES (1, N'fddb556d-c6c7-4fec-a3f1-5cd6c2ebdcfa', CAST(N'2019-09-05 11:57:56.010' AS DateTime))
INSERT [dbo].[Discussion] ([Id], [OwnerId], [LastestUpdated]) VALUES (2, N'15365b87-bb96-4ab7-9f2f-db0d59037f2d', CAST(N'2019-09-05 16:43:24.957' AS DateTime))
SET IDENTITY_INSERT [dbo].[Discussion] OFF
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([Level_ID], [Level_Name]) VALUES (1, N'Grade 1')
INSERT [dbo].[Level] ([Level_ID], [Level_Name]) VALUES (2, N'Grade 2')
INSERT [dbo].[Level] ([Level_ID], [Level_Name]) VALUES (3, N'Grade 3')
SET IDENTITY_INSERT [dbo].[Level] OFF
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([Id], [DiscussionId], [Content], [CreatedDate], [UserId]) VALUES (1, 1, N'HelloFriend', CAST(N'2019-09-05 11:55:30.543' AS DateTime), N'fddb556d-c6c7-4fec-a3f1-5cd6c2ebdcfa')
INSERT [dbo].[Message] ([Id], [DiscussionId], [Content], [CreatedDate], [UserId]) VALUES (2, 1, N'Hi Mr Anonymous', CAST(N'2019-09-05 11:56:09.370' AS DateTime), N'15365b87-bb96-4ab7-9f2f-db0d59037f2d')
INSERT [dbo].[Message] ([Id], [DiscussionId], [Content], [CreatedDate], [UserId]) VALUES (3, 1, N'Do You Have Any Question?', CAST(N'2019-09-05 11:57:05.837' AS DateTime), N'15365b87-bb96-4ab7-9f2f-db0d59037f2d')
SET IDENTITY_INSERT [dbo].[Message] OFF
SET IDENTITY_INSERT [dbo].[Ranks] ON 

INSERT [dbo].[Ranks] ([Rank_ID], [Rank_Name]) VALUES (1, N'Primary School')
INSERT [dbo].[Ranks] ([Rank_ID], [Rank_Name]) VALUES (2, N'Junior high school')
INSERT [dbo].[Ranks] ([Rank_ID], [Rank_Name]) VALUES (3, N'High school')
SET IDENTITY_INSERT [dbo].[Ranks] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([Skill_Name], [Skill_ID]) VALUES (N'English                                           ', 1)
INSERT [dbo].[Skills] ([Skill_Name], [Skill_ID]) VALUES (N'Math                                              ', 2)
INSERT [dbo].[Skills] ([Skill_Name], [Skill_ID]) VALUES (N'Physical                                          ', 3)
SET IDENTITY_INSERT [dbo].[Skills] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusID], [StatusName]) VALUES (1, N'Request')
INSERT [dbo].[Status] ([StatusID], [StatusName]) VALUES (2, N'Confirm')
INSERT [dbo].[Status] ([StatusID], [StatusName]) VALUES (3, N'Paid')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Subject_ID], [Subject_Name], [isCore]) VALUES (1, N'Math', 1)
INSERT [dbo].[Subject] ([Subject_ID], [Subject_Name], [isCore]) VALUES (2, N'Literature', 1)
INSERT [dbo].[Subject] ([Subject_ID], [Subject_Name], [isCore]) VALUES (3, N'English', 1)
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Name], [Tags], [Id]) VALUES (N'Grade1', N'#Grade1', 1)
INSERT [dbo].[Tags] ([Name], [Tags], [Id]) VALUES (N'Grade2', N'#Grade2', 2)
SET IDENTITY_INSERT [dbo].[Tags] OFF
INSERT [dbo].[UsersSkillsLevels] ([User_ID], [Skill_ID], [Level_ID]) VALUES (N'08beb762-e2b8-4597-98e2-320e3912eec4', 1, 1)
INSERT [dbo].[UsersSkillsLevels] ([User_ID], [Skill_ID], [Level_ID]) VALUES (N'08beb762-e2b8-4597-98e2-320e3912eec4', 1, 2)
INSERT [dbo].[UsersSkillsLevels] ([User_ID], [Skill_ID], [Level_ID]) VALUES (N'08beb762-e2b8-4597-98e2-320e3912eec4', 1, 3)
SET IDENTITY_INSERT [dbo].[UsersTags] ON 

INSERT [dbo].[UsersTags] ([ID], [UserID], [TagID]) VALUES (1, N'08beb762-e2b8-4597-98e2-320e3912eec4', 1)
INSERT [dbo].[UsersTags] ([ID], [UserID], [TagID]) VALUES (2, N'08beb762-e2b8-4597-98e2-320e3912eec4', 2)
SET IDENTITY_INSERT [dbo].[UsersTags] OFF
SET IDENTITY_INSERT [dbo].[UserSubject] ON 

INSERT [dbo].[UserSubject] ([UserId], [Subject_ID], [Price], [Rank_ID], [ID]) VALUES (N'08beb762-e2b8-4597-98e2-320e3912eec4', 1, 40000, 1, 1)
INSERT [dbo].[UserSubject] ([UserId], [Subject_ID], [Price], [Rank_ID], [ID]) VALUES (N'15365b87-bb96-4ab7-9f2f-db0d59037f2d', 2, 21312, 1, 2)
INSERT [dbo].[UserSubject] ([UserId], [Subject_ID], [Price], [Rank_ID], [ID]) VALUES (N'1ed9996c-1d8c-466e-856e-eefefb30f2ce', 3, 31232, 1, 3)
SET IDENTITY_INSERT [dbo].[UserSubject] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_AspNetUsers]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_AspNetUsers1] FOREIGN KEY([TutorID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_AspNetUsers1]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Status]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_AspNetUsers] FOREIGN KEY([User_ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_AspNetUsers]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_AspNetUsers1] FOREIGN KEY([Upload_at])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_AspNetUsers1]
GO
ALTER TABLE [dbo].[UsersTags]  WITH CHECK ADD  CONSTRAINT [FK_UsersTags_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UsersTags] CHECK CONSTRAINT [FK_UsersTags_AspNetUsers]
GO
ALTER TABLE [dbo].[UsersTags]  WITH CHECK ADD  CONSTRAINT [FK_UsersTags_Tags] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[UsersTags] CHECK CONSTRAINT [FK_UsersTags_Tags]
GO
ALTER TABLE [dbo].[UserSubject]  WITH CHECK ADD  CONSTRAINT [FK_UserSubject_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserSubject] CHECK CONSTRAINT [FK_UserSubject_AspNetUsers]
GO
ALTER TABLE [dbo].[UserSubject]  WITH CHECK ADD  CONSTRAINT [FK_UserSubject_Ranks] FOREIGN KEY([Rank_ID])
REFERENCES [dbo].[Ranks] ([Rank_ID])
GO
ALTER TABLE [dbo].[UserSubject] CHECK CONSTRAINT [FK_UserSubject_Ranks]
GO
ALTER TABLE [dbo].[UserSubject]  WITH CHECK ADD  CONSTRAINT [FK_UserSubject_Subject] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[Subject] ([Subject_ID])
GO
ALTER TABLE [dbo].[UserSubject] CHECK CONSTRAINT [FK_UserSubject_Subject]
GO
/****** Object:  StoredProcedure [dbo].[selectAllTags]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllTags]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT DISTINCT LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(s.Skill_Name + l.Level_Name,CHAR(32),'()'),')(',''),'()',CHAR(32)))) as Tag,s.Skill_ID as SkillId, l.Level_ID as LevelId
	FROM [dbo].[Level] as l,Skills as s
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[selectAllTagsAll]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllTagsAll]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT DISTINCT LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(s.Skill_Name + l.Level_Name,CHAR(32),'()'),')(',''),'()',CHAR(32)))) as Tag,s.Skill_ID as SkillId, l.Level_ID as LevelId
	FROM [dbo].[Level] as l,Skills as s
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[selectSkillsAndLevels]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectSkillsAndLevels]
	@username nvarchar(256) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT l.Level_Name, s.Skill_Name
	FROM AspNetUsers as u, Level as l, Skills as s, UsersSkillsLevels as usl 
	WHERE u.Id = usl.User_ID and u.UserName = @username and usl.Skill_ID = s.Skill_ID and usl.Level_ID = l.Level_ID
END
GO
/****** Object:  StoredProcedure [dbo].[selectUserSkillsLevels]    Script Date: 22-Dec-19 12:15:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[selectUserSkillsLevels]
	@username nvarchar(256) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT l.Level_Name, s.Skill_Name
	FROM AspNetUsers as u, Level as l, Skills as s, UsersSkillsLevels as usl 
	WHERE u.Id = usl.User_ID and u.UserName = @username and usl.Skill_ID = s.Skill_ID and usl.Level_ID = l.Level_ID
END
GO
USE [master]
GO
