.profile {
  margin-top: 40px;
}

.profile .image-wrapper {
  text-align: center;
  position: relative;
}

.profile .image-wrapper button {
  position: absolute;
  top: 85%;
  left: 75%;
  color: blue;
  background-color: Transparent;
  border: none;
  border-radius: 50%;
}

.profile .image-wrapper button:hover {
  background-image: none;
  background-color: gray;
}

.profile .profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  max-width: 80%;
  border-radius: 50%;
}

.profile .profile-details {
  text-align: center;
}

.profile .profile-details span,
.profile .profile-details svg {
  vertical-align: middle;
}

.profile .editButton {
  cursor: pointer;
}

.profile hr {
  border: none;
  margin: 0 0 10px 0;
}

.profile .profile-details .name {
  font-size: 150%;
  color: rgba(20, 129, 218, 0.842);
}

.profile .profile-details i {
  color: blue;
  margin-right: 5px;
}

.profile .profile-details .skill-tag0 {
  color: white;
  background-color: rebeccapurple;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 0 5px;
}

.profile .profile-details .skill-tag1 {
  color: white;
  background-color: brown;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 0 5px;
}
.profile .profile-details .skill-tag2 {
  color: white;
  background-color: purple;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 0 5px;
}
.profile .profile-details .skill-tag3 {
  color: white;
  background-color: orchid;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 0 5px;
}

.profile .profile-details .skill-tag4 {
  color: white;
  background-color: teal;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 0 5px;
}

.profile .profile-details .skill-list-container {
  text-align: left;
}

.errMessage {
  color: red;
  text-align: right;
  display: block;
}
