#inner {
  display: table;
  margin: 0 auto;
}

#container {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../../asset/bg-image.jpg");
  /*, linear-gradient(#35acdb, #5f10f3); */

  /* Full height */
  min-height: 100%;
  overflow: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#banner {
  font-size: 400%;
  background-color: transparent;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

#optRole {
  margin-bottom: 20px;
}

.errMessage {
  color: red;
  text-align: right;
}

.myCard {
  margin-bottom: 50px;
}
