#inner {
  display: table;
  margin: 0 auto;
}

#container {
  height: 100%;
}

#banner {
  font-size: 400%;
  background-color: transparent;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

#optRole {
  margin-bottom: 20px;
}

.myCard {
  margin-bottom: 50px;
}

#logOutBtn {
  color: white;
  background-color: Transparent;
  cursor: pointer;
  font-weight: 400;
  margin-right: 30px;
}
